body {
    font-family: 'Varela Round', sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}


.sidenav a:hover {
    color: #FED766;
    text-decoration: underline;
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    text-decoration: none;
}

.side-media {
    position: absolute;
    list-style: none;
    text-align: center;
}

.side-media a i:hover {
    color: #f1f1f1;
}

#main {
    margin-bottom: 3em;
    transition: margin-left .5s;
    padding: 16px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("pics/laptop-on-work-desk.jpg");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logo {
    width: 155px;
    height: 155px;
    display: block;
    margin: 0 auto;
    background: url("pics/jw-logo.png") no-repeat;

}

.logo:hover {
    background: url("pics/jw-logo-reverse.png") no-repeat;
}

.col-center {
    text-align: center;
}

.fa {
    color: #FED766;
    margin: 0 auto;
    display: inline-block;
}

#skills {
    margin-bottom: 3em;
}

#projects {
    margin-bottom: 3em;
}

h4 a {
    color: #FED766;
    font-weight: bold;
}

h4 a:hover {
    color: #FED766;
    text-decoration: underline;
}

h4 a:focus, h4 a:active {
    color: #FED766;
}

hr {
    border-top-color: #cecece;
}

#project-img {
    max-width: 100%;
    max-height: 100%;
    /*width: 450px;
    height: 350px;*/
}

#resume {
    background-color: #cecece;
}

.pdf {
    max-width: 100%;
    max-height: 100%;
}

#contact {
    padding-top: 3em;
    background-color: #FED766;
}

footer {
    position: absolute;
    padding: 1em 0 1em 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

footer a i:hover {
    color: white;
}
